.dashboard{
    .header{
        height: 50px;
        position: fixed;
        top: 0;
    }
    .student-details{
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        .card{
            width: 33%;
            height: 200px;
            justify-content: center;
            border: 1px solid black;
            margin-bottom: 25px;
            text-align: center;
        }
    }
}